.navbar {
    padding: 10px;

    .in-game-navbar {
        color: #7F7F7F !important;
    }

    .glyphicon {
        font-size: 25px;
        color: white;
    }

    .icon-img {
        width: 30px;
        height: 30px;
    }

    .info-label {
        span {
            margin-left: 10px;
            font-size: 25px;
            color: white;
        }
    }

    .navbar-user {
        color: white;
        font-size: 30px;
    }
}
