<div class="leftpanel flex-item flex-column">
  <div class="row">
    <div class="flex-column flex-item col-xs-12">
      <img id="kong"
      src="https://files.slack.com/files-pri/TD73PCFEF-FF0KKT955/149b82653d5c0eb7aa0ab8581a209686.png">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <h3 id="kongtitle">Indice KONG</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h5 style="color: white; text-align: center;">ICAP MP 2,5</h5>
      <canvas id="mp25" class="chart chart-doughnut" chart-colors="vm.colours" chart-data="vm.mp25"></canvas>
      <p class="text-center">{{vm.mp25[1] | number: 0}}/{{vm.maxICAP}}</p>
    </div>
    <div class="col-xs-6">
      <h5 style="color: white; text-align: center;">ICAP MP 10</h5>
      <canvas id="mp10" class="chart chart-doughnut" chart-colors="vm.colours" chart-data="vm.mp10"></canvas>
      <p class="text-center">{{vm.mp10[1] | number: 0}}/{{vm.maxICAP}}</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-6">
      <h5 id="graphtitle">Grafico 3</h5>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data2" chart-labels="vm.labels2"></canvas>
    </div>
    <div class="col-xs-6">
      <h5 id="graphtitle">Grafico 4</h5>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data3" chart-labels="vm.labels3"></canvas>
    </div>
  </div>
  <div id="bpmdiv" class="row">
    <div class="col-xs-6">
      <h5 id="graphtitle">Grafico 5</h5>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data4" chart-labels="vm.labels4"></canvas>
    </div>
    <div class="col-xs-6">
      <h5 id="graphtitle">Grafico 6</h5>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data5" chart-labels="vm.labels5"></canvas>
    </div>
  </div> -->
</div>
