<div flex layout="column" class="missions">
    <div ng-if="vm.missions.length > 0" layout="row">
        <div class="ms-button2 previous-mission" flex layout="row" layout-align="start center">
            <img class="icon-img" src="app/estrella.png" />
            <div layout="column">
                <span style="color: white; font-size: 20px;"><b>Retomar misión anterior</b></span>
                <span style="color: gray; font-size: 15px;">1/3 tareas completadas</span>
            </div>
            <i style="margin-left: 40px;" class="glyphicon glyphicon-chevron-right"></i>
        </div>
    </div>
    <md-divider ng-if="vm.missions.length > 0" style="margin-top: 7px;margin-left: 15px;margin-right: 15px;"></md-divider>
    <div flex layout="column">
        <span style="margin-top: 15px; text-align: center; font-size: 25px; color: gray;">Misiones para ti!</span>
        <div flex style="margin-top: 15px;" layout="column" layout-align="start center">
            <div layout="row">
                <div ng-click="vm.createNewMission('limpia')" flex layout="row" layout-align="center center" class="ms-button mission-action-button md-whiteframe-3dp">
                    <div layout="column" layout-align="center center">
                        <img src="app/limpia80.png" />
                        <div flex style="align-content: flex-end">Limpia</div>
                    </div>
                </div>
                <div ng-click="vm.createNewMission('recicla')" flex layout="row" layout-align="center center" class="ms-button mission-action-button md-whiteframe-3dp">
                    <div layout="column" layout-align="center center">
                        <img src="app/recicla80.png" />
                        <div flex>Recicla</div>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div ng-click="vm.createNewMission('reutiliza')" flex layout="row" layout-align="center center" class="ms-button mission-action-button md-whiteframe-3dp">
                    <div layout="column" layout-align="center center">
                        <img src="app/reutiliza80.png" />
                        <div flex>Reutiliza</div>
                    </div>
                </div>
                <div ng-click="vm.createNewMission('recolecta')" flex layout="row" layout-align="center center" class="ms-button mission-action-button md-whiteframe-3dp">
                    <div layout="column" layout-align="center center">
                        <img src="app/recolecta80.png" />
                        <div flex>Recolecta</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="text-align: center; margin-top: 40px;margin-bottom: 40px;">
    </div>
     -->
</div>